@import "tailwindcss";
@import "./utilities.css";

@theme {
  --color-black: #06080c;
  --color-black-100: #0b0e12;
  --color-black-200: #0f1318;
  --color-black-300: #171d25;
  --color-black-400: #11161d;
  --color-black-500: #0d1115;
  --color-green: #43ad28;
  --color-red: #eb0237;
  --color-red-pressed: #a01131;
  --color-red-disabled: #701328;
  --color-orange: #eb6402;
  --color-grey: #b4b5b6;
  --color-grey-100: #68696a;
  --color-disabled: #787878;
  --color-label: #fafafa66;
  --color-white: #ffffff;
  --font-inter: "Inter", "sans-serif";
}
@layer base {
  body {
    color: var(--color-white);
    font-family: "Inter", sans-serif;
  }
}
